* {
	box-sizing: border-box;
}
.header {
	background-color: #f1f1f1;
	padding: 15px;
}
.header > h1 {
	margin-bottom: 0.1em
}
.content {
	background-color: #f1f1f1;
	text-align: left;
	padding: 10px;
	margin-top: 7px;
}
@media only screen and (max-width:500px) {
	/* For mobile phones: */
	.content ul {
		padding-left: 10px;
	}
}
