<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="BotoX">
    <meta name="description" content="Xiaomi Mijia M365 Custom Firmware Toolkit">
    <title>Xiaomi Mijia M365 Custom Firmware Toolkit</title>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
</head>

<body>
    <h1 lang="en">Xiaomi Mijia M365 Custom Firmware Toolkit</h1>

    <select onchange="select_language(this.options[this.selectedIndex].value)">
        <option value="en" selected>English</option>
        <option value="ru">Русский</option>
    </select>

    <p>
        Configure your own custom firmware by adjusting the options below.<br>
        <b>Warning: You alone are responsible for the entered values!</b><br>
        I have added some safety checks but please don't go crazy, it's your scooter after all.<br>
        By default nothing will be patched, enable patches with the "Patch?" checkbox next to them.
    </p>

    <p>
    
    </p>

    <noscript>This website (despite it's look) requires some very simple JavaScript which is embedded in this HTML.</noscript>

    <form action="/cfw">
        <table>
            <tr>
                <th colspan="3">
                    Presets:
                    <button onclick="Preset_Default();">Default</button>
                    <button onclick="Preset_Mine();">Mine</button>
                    <button onclick="Preset_DYoC();">DYoC</button>
                    <button onclick="Preset_CFWW();">CFW W</button>
                </th>
            </tr>
            <tr>
                <td colspan="3">
                    Base version of your firmware:
                    <select id="version">
                        <option value="DRV140" selected>1.4.0</option>
                        <option value="DRV138">1.3.8</option>
                        <option value="DRV134">1.3.4</option>
                        <option value="DRV130">1.3.0</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td title="Speed in km/h at which the scooter will start braking on it's own when the engine is not active.">KERS min speed</td>
                <td><label><input id="kers_min_speed_chk" type="checkbox" onchange="CheckForm('kers_min_speed', this);">Patch?</label></td>
                <td><input id="kers_min_speed" type="number" step="0.1" min="0" max="100" value="6.0" disabled></td>
            </tr>
            <tr>
                <td title="The scooter will stay below this, add +1 to actually drive this fast.">Maximum speed in Normal mode</td>
                <td><label><input id="normal_max_speed_chk" type="checkbox" onchange="CheckForm('normal_max_speed', this);">Patch?</label></td>
                <td><input id="normal_max_speed" type="number" step="1" min="0" max="100" value="28" disabled></td>
            </tr>
            <tr>
                <td title="The scooter will stay below this, add +1 to actually drive this fast.">Maximum speed in ECO mode</td>
                <td><label><input id="eco_max_speed_chk" type="checkbox" onchange="CheckForm('eco_max_speed', this);">Patch?</label></td>
                <td><input id="eco_max_speed" type="number" step="1" min="0" max="100" value="22" disabled></td>
            </tr>
            <tr>
                <td title="Minimum speed in km/h before the engine will start.">Motor start speed</td>
                <td><label><input id="motor_start_speed_chk" type="checkbox" onchange="CheckForm('motor_start_speed', this);">Patch?</label></td>
                <td><input id="motor_start_speed" type="number" step="0.1" min="0" max="100" value="5.0" disabled></td>
            </tr>
            <tr>
                <td title="Lower = More power.&#013 &#013Original = 51575&#013DYoC = 40165&#013CFW2.0Weak = 27877&#013CFW2.0 = 25787">Motor power constant</td>
                <td><label><input id="motor_power_constant_chk" type="checkbox" onchange="CheckForm('motor_power_constant', this);">Patch?</label></td>
                <td><input title="Lower = More power.&#013 &#013Original = 51575&#013DYoC = 40165&#013CFW2.0Weak = 27877&#013CFW2.0 = 25787" id="motor_power_constant" type="number" step="1" min="25787" max="65535" value="51575" disabled></td>
            </tr>
            <tr>
                <td title="How many seconds it takes for cruise control to kick in.">Cruise control delay</td>
                <td><label><input id="cruise_control_delay_chk" type="checkbox" onchange="CheckForm('cruise_control_delay', this);">Patch?</label></td>
                <td><input id="cruise_control_delay" type="number" step="0.1" min="0.1" max="20" value="5.0" disabled></td>
            </tr>
            <tr>
                <td title="Switch instantly between ECO and Normal mode while driving.">Instant mode switch</td>
                <td colspan="2"><label><input type="checkbox" id="instant_eco_switch"></label></td>
            </tr>
            <tr>
                <td title="The scooter will always start in ECO mode.">Boot with ECO mode</td>
                <td colspan="2"><label><input type="checkbox" id="boot_with_eco"></label></td>
            </tr>
            <tr>
                <td title="And I honestly don't know what it's for, maybe you can tell me?">Some patch that all custom firmwares have</td>
                <td colspan="2"><label><input type="checkbox" id="idk_what_this_does"></label></td>
            </tr>
            <tr>
                <td colspan="3">
                    Make sure to double check all of your entered values before submitting!<br>
                    <b>I HAVE NOONE BUT MYSELF TO BLAME IF SOMETHING GOES WRONG:</b><br>
                    <input type="submit" value="Patch!">
                </td>
            </tr>
        </table>
    </form>
    <hr>
    <p>
        Use the following app to flash your modified firmware: <a href="https://cloud.botox.bz/s/PZkfxWjNpgXibT5/download?path=%2F&files=com.m365downgrade-v7_PATCHED.apk">com.m365downgrade-v7_PATCHED.apk</a>
        <br>
        It is a patched version of the <a href="https://play.google.com/store/apps/details?id=com.m365downgrade">M365 DownG</a> app made by <a href="https://github.com/CamiAlfa">CamiAlfa</a>.
    </p>

    <p>
        Update your BMS firmware to the latest version: <a href="https://cloud.botox.bz/s/PZkfxWjNpgXibT5/download?path=%2FUNTOUCHED&files=BMS115.bin">BMS115.bin</a>
    </p>

    <hr>
    <p>
        Fork me on GitHub! <a href="https://github.com/BotoX/xiaomi-m365-firmware-patcher" target="_blank">https://github.com/BotoX/xiaomi-m365-firmware-patcher</a>
        <br>
        Donate, if you'd like: <a href="https://paypal.me/BotoXbz" target="_blank">https://paypal.me/BotoXbz</a>
    </p>

    <script type="text/javascript">
        function CheckForm(name, cb) {
            document.getElementById(name).disabled = !cb.checked;            
        }
        function ChangeForm(name, value, patch) {
            var mod = document.getElementById(name);
            mod.value = value;

            if (patch === true && value !== null) {
                document.getElementById(name+'_chk').checked = true;
                mod.disabled = false;
            } 
            if (patch === false && value !== null) {
                document.getElementById(name+'_chk').checked = false;
                mod.disabled = true;
            }
            if (patch === true && value === null) {
                mod.checked = true;
            } 
            if (patch === false && value === null) {
                mod.checked = false;
            }
        }

        function Preset_Default() {
            ChangeForm("kers_min_speed", "6.0", false);
            ChangeForm("normal_max_speed", "28", false);
            ChangeForm("eco_max_speed", "22", false);
            ChangeForm("motor_start_speed", "5.0", false);
            ChangeForm("motor_power_constant", "51575", false);
            ChangeForm("cruise_control_delay", "5", false);
            ChangeForm("instant_eco_switch", null, false);
            ChangeForm("boot_with_eco", null, false);
            ChangeForm("idk_what_this_does", null, false);
        }

        function Preset_Mine() {
            ChangeForm("kers_min_speed", "35.0", true);
            ChangeForm("normal_max_speed", "31", true);
            ChangeForm("eco_max_speed", "26", true);
            ChangeForm("motor_start_speed", "3.0", true);
            ChangeForm("motor_power_constant", "40165", true);
            ChangeForm("cruise_control_delay", "5", false);
            ChangeForm("instant_eco_switch", null, true);
            ChangeForm("boot_with_eco", null, false);
            ChangeForm("idk_what_this_does", null, true);
        }

        function Preset_DYoC() {
            ChangeForm("kers_min_speed", "20.0", true);
            ChangeForm("normal_max_speed", "31", true);
            ChangeForm("eco_max_speed", "20", true);
            ChangeForm("motor_start_speed", "2.0", true);
            ChangeForm("motor_power_constant", "40165", true);
            ChangeForm("cruise_control_delay", "5", false);
            ChangeForm("instant_eco_switch", null, false);
            ChangeForm("boot_with_eco", null, false);
            ChangeForm("idk_what_this_does", null, true);
        }

        function Preset_CFWW() {
            ChangeForm("kers_min_speed", "20.0", true);
            ChangeForm("normal_max_speed", "45", true);
            ChangeForm("eco_max_speed", "27", true);
            ChangeForm("motor_start_speed", "1.45", true);
            ChangeForm("motor_power_constant", "27877", true);
            ChangeForm("cruise_control_delay", "5", false);
            ChangeForm("instant_eco_switch", null, false);
            ChangeForm("boot_with_eco", null, false);
            ChangeForm("idk_what_this_does", null, true);
        }
    </script>

</body>
</html>