<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="BotoX">
    <meta name="description" content="КОНСТРУКТОР ПРОШИВОК XIAOMI MIJIA M365">
    <title>КОНСТРУКТОР ПРОШИВОК XIAOMI MIJIA M365</title>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
</head>

<body>
    <h1 lang="ru">КОНСТРУКТОР ПРОШИВОК XIAOMI MIJIA M365</h1>

    <select id="lang_select" onchange="javascript:location.href = this.value;" style="display: flex; justify-content: center;">
        <option value="" selected>Выберите язык</option>
        <option value="home.html">English</option>
        <option value="home_ru.html">Русский</option>
    </select>

    <p>
        Настройте прошику по своему усмотрению используя опции ниже.<br>
        <b>ВНИМАНИЕ: Вы и только ВЫ ответственны за введенные значения!</b><br>
        Я добавил несколько проверок на безопасность, но, пожалуйста, будьте осторожны, это всё-таки ваш самокат.<br>
        По-умолчанию ничего не будет модифицировано, включите модификации селектором.
    </p>

    <noscript>Этому сайту (несмотря на внешний вид) нужно несколько очень простых JavaScript-скриптов, которые включены в html-код.</noscript>

    <p style="display: flex; justify-content: center; align-items: center;">
    Пресеты: 
        <button class="button" onclick="Preset_Default();">По-умолчанию</button>
        <button class="button" onclick="Preset_Mine();">Авторская</button>
        <button class="button" onclick="Preset_DYoC();">DYoC</button>
        <button class="button" onclick="Preset_CFWW();">CFW W</button>
    </p>

    <form action="/cfw">
        <table>
            <tr>
                <th colspan="3">
                    Базовая версия прошивки:
                    <select id="version">
                        <option value="DRV140" selected>1.4.0</option>
                        <option value="DRV138">1.3.8</option>
                        <option value="DRV134">1.3.4</option>
                        <option value="DRV130">1.3.0</option>
                    </select>
                </th>
            </tr>
            <tr>
                <td title="Скорость в км/ч при которой самокат начнет тормозить сам, когда мотор не активен.">Мин. скорость для KERS</td>
                <td><input id="kers_min_speed_chk" type="checkbox" onchange="CheckForm('kers_min_speed', this);"><label for="kers_min_speed_chk"></label></td>
                <td><input id="kers_min_speed" type="number" step="0.1" min="0" max="100" value="6.0" disabled></td>
            </tr>
            <tr>
                <td title="Самокат будет держать скорость ДО этого значения, добавьте +1 для достижения желаемой скорости.">Макс. скорость в нормальном режиме</td>
                <td><input id="normal_max_speed_chk" type="checkbox" onchange="CheckForm('normal_max_speed', this);"><label for="normal_max_speed_chk"></label></td>
                <td><input id="normal_max_speed" type="number" step="1" min="0" max="100" value="28" disabled></td>
            </tr>
            <tr>
                <td title="Самокат будет держать скорость ДО этого значения, добавьте +1 для достижения желаемой скорости.">Макс. скорость в ЭКО режиме</td>
                <td><input id="eco_max_speed_chk" type="checkbox" onchange="CheckForm('eco_max_speed', this);"><label for="eco_max_speed_chk"></label></td>
                <td><input id="eco_max_speed" type="number" step="1" min="0" max="100" value="22" disabled></td>
            </tr>
            <tr>
                <td title="Минимальная скорость в км/ч при которой запустится мотор.">Стартовая скорость мотора</td>
                <td><input id="motor_start_speed_chk" type="checkbox" onchange="CheckForm('motor_start_speed', this);"><label for="motor_start_speed_chk"></label></td>
                <td><input id="motor_start_speed" type="number" step="0.1" min="0" max="100" value="5.0" disabled></td>
            </tr>
            <tr>
                <td title="Значение ниже = больше мощности.&#013 &#013Оригинал = 51575&#013DYoC = 40165&#013CFW2.0Weak = 27877&#013CFW2.0 = 25787">Мощность мотора</td>
                <td><input id="motor_power_constant_chk" type="checkbox" onchange="CheckForm('motor_power_constant', this);"><label for="motor_power_constant_chk"></label></td>
                <td><input title="Значение ниже = больше мощности.&#013 &#013Оригинал = 51575&#013DYoC = 40165&#013CFW2.0Weak = 27877&#013CFW2.0 = 25787" id="motor_power_constant" type="number" step="1" min="25787" max="65535" value="51575" disabled></td>
            </tr>
            <tr>
                <td title="Интервал в секундах, в течение которого подключится круи-контроль">Задержка включения круиз-контроля</td>
                <td><input id="cruise_control_delay_chk" type="checkbox" onchange="CheckForm('cruise_control_delay', this);"><label for="cruise_control_delay_chk"></label></td>
                <td><input id="cruise_control_delay" type="number" step="0.1" min="0.1" max="20" value="5.0" disabled></td>
            </tr>
            <tr>
                <td title="Мгновенно переключать режимы ЭКО и нормальный при езде.">Мгновенное переключение режима</td>
                <td colspan="2"><input type="checkbox" id="instant_eco_switch"><label for="instant_eco_switch"></label></td>
            </tr>
            <tr>
                <td title="Самокат будет всегда включаться с активным ЭКО-режимом.">Включение в ЭКО-режимеe</td>
                <td colspan="2"><input type="checkbox" id="boot_with_eco"><label for="boot_with_eco"></td>
            </tr>
            <tr>
                <td title="И я честно не знаю, для чего он, может подскажете?">Какой-то патч, который есть во всех прошивках</td>
                <td colspan="2"><input type="checkbox" id="idk_what_this_does"><label for="idk_what_this_does"></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center">
                    Дважды проверьте все введенные значения перед отправкой!<br>
                    <span style="color: red; font-size: 125%;"><b>МНЕ НЕКОГО ВИНИТЬ КРОМЕ СЕБЯ ЕСЛИ ЧТО-ТО ПОЙДЕТ НЕ ТАК:</b></span><br>
                    <input class="button" type="submit" value="Загрузить!" style="margin-left: -5px; margin-top: 10px;">
                </td>
            </tr>
        </table>
    </form>
    <p>
        Используйте это приложение для прошивки: <a href="https://cloud.botox.bz/s/PZkfxWjNpgXibT5/download?path=%2F&files=com.m365downgrade-v7_PATCHED.apk">com.m365downgrade-v7_PATCHED.apk</a>
        <br>
        Это патченная версия приложения <a href="https://play.google.com/store/apps/details?id=com.m365downgrade">M365 DownG</a> от автора <a href="https://github.com/CamiAlfa">CamiAlfa</a>.
    </p>

    <p>
        Обновите свой BMS до последней версии: <a href="https://cloud.botox.bz/s/PZkfxWjNpgXibT5/download?path=%2FUNTOUCHED&files=BMS115.bin">BMS115.bin</a>
    </p>

    <hr>
    <p>
        Проект на GitHub! <a href="https://github.com/BotoX/xiaomi-m365-firmware-patcher" target="_blank">https://github.com/BotoX/xiaomi-m365-firmware-patcher</a>
        <br>
        Можете задонатить чуток: <a href="https://paypal.me/BotoXbz" target="_blank">https://paypal.me/BotoXbz</a>
    </p>

    <script type="text/javascript">
        function CheckForm(name, cb) {
            document.getElementById(name).disabled = !cb.checked;            
        }
        function ChangeForm(name, value, patch) {
            var mod = document.getElementById(name);
            mod.value = value;

            if (patch === true && value !== null) {
                document.getElementById(name+'_chk').checked = true;
                mod.disabled = false;
            } 
            if (patch === false && value !== null) {
                document.getElementById(name+'_chk').checked = false;
                mod.disabled = true;
            }
            if (patch === true && value === null) {
                mod.checked = true;
            } 
            if (patch === false && value === null) {
                mod.checked = false;
            }
        }

        function Preset_Default() {
            ChangeForm("kers_min_speed", "6.0", false);
            ChangeForm("normal_max_speed", "28", false);
            ChangeForm("eco_max_speed", "22", false);
            ChangeForm("motor_start_speed", "5.0", false);
            ChangeForm("motor_power_constant", "51575", false);
            ChangeForm("cruise_control_delay", "5", false);
            ChangeForm("instant_eco_switch", null, false);
            ChangeForm("boot_with_eco", null, false);
            ChangeForm("idk_what_this_does", null, false);
        }

        function Preset_Mine() {
            ChangeForm("kers_min_speed", "35.0", true);
            ChangeForm("normal_max_speed", "31", true);
            ChangeForm("eco_max_speed", "26", true);
            ChangeForm("motor_start_speed", "3.0", true);
            ChangeForm("motor_power_constant", "40165", true);
            ChangeForm("cruise_control_delay", "5", false);
            ChangeForm("instant_eco_switch", null, true);
            ChangeForm("boot_with_eco", null, false);
            ChangeForm("idk_what_this_does", null, true);
        }

        function Preset_DYoC() {
            ChangeForm("kers_min_speed", "20.0", true);
            ChangeForm("normal_max_speed", "31", true);
            ChangeForm("eco_max_speed", "20", true);
            ChangeForm("motor_start_speed", "2.0", true);
            ChangeForm("motor_power_constant", "40165", true);
            ChangeForm("cruise_control_delay", "5", false);
            ChangeForm("instant_eco_switch", null, false);
            ChangeForm("boot_with_eco", null, false);
            ChangeForm("idk_what_this_does", null, true);
        }

        function Preset_CFWW() {
            ChangeForm("kers_min_speed", "20.0", true);
            ChangeForm("normal_max_speed", "45", true);
            ChangeForm("eco_max_speed", "27", true);
            ChangeForm("motor_start_speed", "1.45", true);
            ChangeForm("motor_power_constant", "27877", true);
            ChangeForm("cruise_control_delay", "5", false);
            ChangeForm("instant_eco_switch", null, false);
            ChangeForm("boot_with_eco", null, false);
            ChangeForm("idk_what_this_does", null, true);
        }
    </script>

</body>
</html>